@import '/src/global-styles/theme.scss';

.dropdown-container{
  position: absolute;
  display: none;
  flex-direction: column;
  z-index: 2;
  overflow: hidden;
  cursor: pointer;
  &.active{
    display: flex;
  }
  .dropdown-item{
    display: flex;
    align-items: center;
    height: 52px;
    .text{
      color: white
    }
    .selection{
      justify-self: start;
      height: 20px;
      border-radius: 8px;
      border: 1px solid gray;
    }
    .icon{
      justify-self: end;
    }

    &.selected{
      .text{
        color: black
      }
      .selection{
        background-color: blue;
        border: 1px solid pink;
      }
    }
  }
}

