p{
    color: var(--color-white);
}

.container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 50px;
    @media(max-width: 768px){
        flex-direction: column;
        gap: 10px;
        align-items: start;
    }
}

.card{
    display: flex;
    flex-direction: row;
    height: 94px;
    gap: 10px;
    @media(max-width: 425px){
        height:68px
    }
}

.pin{
    width: 24px;
    height: 24px;
    position: absolute;
    z-index: 3;
}

.flag{
    margin-left: 15px;
    position: absolute;
    height: 21px ;
    width: 20px;
    z-index: 2;
}

.city{
    width: 82px;  
    height: 82px; 
    z-index: 0;
    margin-left: 12px;
    margin-top: 12px;
    border-radius: 10px;
    @media(max-width: 425px){
        width: 54px;  
        height: 54px; 
    }
}

.address{
    display: flex;
    flex-direction: column;
    margin-top: 12px;
}