:root {
    --primary-color: #0A3542;
    --secondary-color: #00AE42;
    --background-color: #0A3542;
    --button-color:#00AE42;
    --color-white: #FFFFFF;
    --color-white2: #F6F8FC;
    --color-black: #000000;
}
    