:root {
    --primary-color: #001D41;
    --secondary-color: #002E69;
    --background-color: #4E9CFF;
    --button-color:#4E9CFF;
    --color-white: #FFFFFF;
    --color-white2: #F6F8FC;
    --color-black: #000000;
    }
    