:root {
    --primary-color: #0A3542;
    --secondary-color: #EA1651;
    --background-color: #0A3542;
    --button-color:#EA1651;
    --color-white: #FFFFFF;
    --color-white2: #F6F8FC;
    --color-black: #000000;
    }
    