*{
    z-index: 999;
}
.container{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 16px;

    @media (max-width: 425px){
        left: 0;
        height: 18px;
    }
  .logo{
    display: flex;
    @media (max-width: 425px){
       display: none;
    }
  }
  .logo-sm{
    display: none;
    @media (max-width: 425px){
       display: flex;
    }
  }   
  
}

