.grid-container{
    display: grid;
    grid-template-columns: auto auto;
    gap: 50px;
    flex-wrap: wrap;
    
    @media(max-width:425px){
        gap: 8px;
        img{
            width: 85%;
        }
    }    
    @media (min-width:769px) and (max-width: 1024px) {
        grid-template-columns: auto;
    }
}

.single-image{
    display: flex;
    justify-content: center;
}

