.principal-content{
  display: flex;
  flex-direction: row;
  height: calc(100% - 200px);
  justify-content: space-between;
  padding: 0px 80px;
  gap: 50px;  

  @media (max-width: 768px){
    height: 100%;
    flex-direction: column;
    justify-content: space-around;
    padding: 24px 12px;
    gap: 24px;
  }

  @media screen and (min-width: 1900px){
  padding: 0 284px
  }
}
.text-content{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 50px;  
  overflow: hidden;

  @media(max-width:768px) and (min-width:426px){
    gap: 24px;
    .button{
      display: flex;
      justify-content: center;
    }
  }

  @media(max-width: 425px){
    gap: 12px;
  }
}
.options-content{
  padding: 0 54px;
  width: 40%;
  display: flex;
  justify-content: center;
  align-items: center;

  @media (max-width: 768px){
    padding: 0 12px 0 12px;
    width: 97%;
  }

  @media (min-width:769px) and (max-width: 1400px){
   padding: 0 20px;
   width: 30%;
  }
  
}