<header>
    <div class="box" (click)="toggleDropdown()">
        <span 
        class="text"
        >       
            {{ selectedLanguage.name }}
            <img 
            src="assets/icons/angle-down.svg" 
            alt="angle-down"
            [ngClass]="{ 'open': openDropdown }">
        </span>
        <app-dropdown 
        [top]="50"
        [options]="getDropdownOptions()"
        [openDropdown]="openDropdown" 
        (optionSelected)="onLanguageSelected($event)" 
        >
        </app-dropdown>
    </div>    
</header>