:host {
    --content-padding: 50px 80px;
  }
  header {
    display: flex;
    align-items: center;
    height: 60px;
    padding: var(--content-padding);
    background-color: var(--primary-color);
    position: relative;
    z-index: 0;
  }

  .box{
    position: absolute;
    display: flex;
    flex-direction: column;
    width: 189px;
    height: 52px;
    padding: 0px 24px;
    right: 80px;
    top: 50px;
    border: 1px solid white;
    border-radius: 8px ;
    cursor: pointer;
  }
  
  