:host {
    --content-padding: 50px 80px;
  }
  header {
    display: flex;
    align-items: center;
    height: 60px;
    padding: var(--content-padding);
    background-color: var(--primary-color);
    position: relative;
    z-index: 0;

    .line{
      height: 2px;
      width: 80%;
      background-color: white;
      position: absolute;
      bottom: 10px;
    }
  }
  
  